* {
  /* color: white; */
  /* font-size: 18px; */

}


  
  /* Styling for the folder element */
  .folder {
    /* background-color:#bdc3c7; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 90%;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1.4rem;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    margin-top: 5%;
    overflow-y: scroll;
    opacity: 0.9
  }
  
  /* Styling for the folder text and buttons */
  .folder span {
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: normal;
    color: white;
    
  }
  
  /* Styling for the buttons inside the folder */
  .folder button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #000046;
    margin-left: 10px;
  }
  
  /* Styling for the expanded folder contents */
  .folder .folder-contents {
    display: block;
    padding-left: 25px;
    color: white;
  }
  
 /* Styles for the form container */
.cursor {
  margin-top: 3px;
  /* background-color: pink; */
}

.deletebtn{
  color: white
}

/* Styles for the form element */
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  width: 90%; /* Set to 75% width */
  max-width: 600px;
  box-sizing: border-box; /* Include padding and border in the width */
  box-shadow: inset 2px -3px 10px rgba(0, 0, 0, 0.2);
  color: white;
  
}

form:hover{
  cursor: text;
  color: white;

}

/* Styles for the input field */
input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  width: 80%;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 5px;
  animation: blink 1s step-end 10; /* Apply the animation */
  color: white
}

/* Styles for the submit button */
button[type="submit"] {
  background-color: transparent;
  color: rgba(229, 63, 115);
  border: 1px solid rgba(229, 63, 115);
  border-radius: 5px;
  /* padding: 10px 15px; */
  padding: 2%;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 20px;
  box-sizing: border-box; /* Include padding and border in the width */
}

/* Hover state for the submit button */
button[type="submit"]:hover {
  background-color: rgba(229, 63, 115);
  color: white;
  font-weight: 700;
  
}

/* Disabled state for the submit button */
button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


  /* Example container styles */
#tree-container {
  width: 200%; /* Set the container width to 100% */
  max-height: 1000px; /* Set a maximum height, adjust as needed */
  overflow: auto; /* Add scrollbars if the content overflows */
  position: relative; /* Ensure correct positioning */
  /* Add other styles as needed */
}

.logo {
  font-family: 'Roboto Mono', monospace;
}


 
 
  
/* YourComponent.css */

/* Styles for the input container */
.input-container {
  position: relative;
  height: 100%;
  background-color: transparent;
}

.inputContainer input{

  background-color: transparent;
}


/* Styles for the input field */
#searchInput {
  border: none; /* Remove the default input border */
  outline: none; /* Remove the default input focus outline */
  padding: 0; /* Remove any padding or margins */
  width: 100%;
  line-height: 100%;
  margin: 0;
  font-size: 20px;
  background-color: transparent;
  
}

.page {
  background-color: pink;
  justify-content: space-between;
  padding-right: 30%;
}

/* Styles for the blinking cursor (initially hidden) */
.text-cursor {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px; /* Adjust the width as needed */
  animation: none; /* Blinking animation */
  color: rgba(135,215,243);
  z-index: 2
}

@keyframes cursor-blink {
  0%, 100% {
    background: transparent; /* Make the cursor disappear */
  }
  50% {
  }
 
}



#searchInput::placeholder {
  color: #ccc; /* Customize the placeholder text color */
  z-index: 1;
}

#searchInput:focus + .text-cursor {
  animation: cursor-blink 1s infinite; /* Start blinking animation when focused */
  color: rgba(135,215,243);
}

.buttons{
  display: flex;
  justify-content: right;
}
  /* YourComponent.css */
  @media (max-width: 768px) {
    .tree-container {
      width: 20%; /* Change as needed for smaller screens */
    }
  }
  @media (max-width: 480px) {
    .tree-container {
      width: 80%; /* Change as needed for even smaller screens */
    }
  }
  
/* Styles for the blinking cursor */

.folder-node {
  fill: blue;
}


.jumpBtn {
  transition: transform 0.2s ease;
}

.jumpBtn.clicked {
  animation: jump 0.5s ease;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
